{% extends "base.html" %}
{% load i18n %}
{% block title %}OpenStack - User{% endblock %}

{% block javascript %}
$(document).ready(function() {
    get_attributes();
});

function get_attributes() {
    $.getJSON(location.pathname, { format: 'json' }).done(
        function (json) {
            $('#usernameInput').val(json.attrs.uid);
            $('#emailInput').val(json.attrs.mail);
            $('#firstnameInput').val(json.attrs.givenName);
            $('#lastnameInput').val(json.attrs.sn);
        }
    );
}

{% endblock %}

{% block content %}
<div>
    <h2>User profile</h2>

    <p>
      Here you can check your profile and change your password.
    </p>

    <form id="form">{% csrf_token %}
        <div class="form-group col-sm-10">
            <label id="usernameLabel" class="control-label col-sm-2">Username: </label>
            <div id="username" class="col-sm-3">
                <input id="usernameInput" type="text" value="" class="form-control" placeholder="Username" aria-describedby="basic-addon1" disabled>
            </div>
            <!--<div class="col-sm-5">-->
                <!--<p id="errorUsername" style="color:red"></p>-->
            <!--</div>-->
        </div>
        <div class="form-group col-sm-10">
            <label id="emailLabel" class="control-label col-sm-2">Email address: </label>
            <div id="email" class="col-sm-3">
                <input id="emailInput" type="text" value="" class="form-control" placeholder="Email address" aria-describedby="basic-addon1" disabled>
            </div>
            <!--<div class="col-sm-5">-->
                <!--<p id="errorEmail" style="color:red"></p>-->
            <!--</div>-->
        </div>
        <div class="form-group col-sm-10">
            <label id="firstnameLabel" class="control-label col-sm-2">Firstname: </label>
            <div id="firstname" class="col-sm-3">
                <input id="firstnameInput" type="text" value="" class="form-control" placeholder="Firstname" aria-describedby="basic-addon1" disabled>
            </div>
            <!--<div class="col-sm-5">-->
                <!--<p id="errorFirstname" style="color:red"></p>-->
            <!--</div>-->
        </div>
        <div class="form-group col-sm-10">
            <label id="lastnameLabel" class="control-label col-sm-2">Lastname: </label>
            <div id="lastname" class="col-sm-3">
                <input id="lastnameInput" type="text" value="" class="form-control" placeholder="Lastname" aria-describedby="basic-addon1" disabled>
            </div>
            <!--<div class="col-sm-5">-->
                <!--<p id="errorLastname" style="color:red"></p>-->
            <!--</div>-->
        </div>
    </form>
</div>

{% endblock %}

